html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

a {
  text-decoration: none;
  color: inherit;
}

.flex {
	display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
	flex-direction: row;
}

.flex-column {
  display: flex;
	flex-direction: column;
}

.hide {
  display: none;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Bebas Neue', cursive;
}
body:before {  /* BACKGROUND IMAGE */
content: "";
display: block;
position: fixed;
left: 0;
top: 0;
width: 100vw;
height: 100vh;
z-index: -10;
background: url("../images/city.jpg") no-repeat center bottom;
background-size: cover;
}

/* FONTS */
p {
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-size: 60px;
}

/* ELEVATOR SPEECH */
.elevator {
  position: relative;
  z-index: 100;
  background-color: rgba(255,255,255,0.5);
  justify-content: space-between;
  padding: 10px;
}
.headshot img {
  height: 13vh;
  border-radius: 100%;
  border: 1px solid white;
  box-shadow: 1px 1px 15px darkgrey;
}
.elevator h1 {
  width: max-content;
  margin: 0 25px;
}
.elevator h1, .elevator p {
  text-shadow: 0 0 10px white;
  color: rgba(0,0,0,0.6);
  mix-blend-mode: darken;
}
.elevator p{
  margin-left: 5vw;
}

/* NAVIGATION */
nav {
  justify-content: space-evenly;
  color: black;
  background-image: linear-gradient(rgba(255,255,255,0.5) 70%, rgba(255,255,255,0));
  mix-blend-mode: overlay;
  transition: all 0.3s ease-in-out 0s;
}
nav::before {
  height: 250px;
  z-index: -50;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(255,255,255,0.5) 70%, rgba(255,255,255,0));
  z-index: -1;
  transition: opacity 0.3s ease-in-out 0s;
  opacity: 0;
}
nav:hover::before {
  opacity: 1;
}
nav a.flex-center, #navbutton {
  height: min-content;
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  align-self: center;
  margin-bottom: 1vh;
  transition: all 0.3s ease-in-out 0s;
}
#navbutton {
  margin-bottom: initial;
  padding: 1vh;
}
nav a:hover, footer a:hover {
  transform: translateY(-2vh);
  text-shadow: 0 0 10px white;
  transition: all 0.3s ease-in-out 0s;
}
nav a:hover {
  color: rgba(0,0,0,1);
  mix-blend-mode: unset;
}
/* MAIN PAGE */
.main-box {
  flex-grow: 1;
  justify-content: space-evenly;
  color: rgba(255,255,255,0.8);
}
.main-box *:first {
  color: rgba(0,0,0,0.8);
  background: rgba(255,255,255,0.8);
  mix-blend-mode: screen;
}
.task {
  width: 100vw;
  background: rgba(255,255,255,0.7);
  padding: 2vh;
  margin-top: 2vh;
  justify-content: inherit;
  flex-grow: 1;
  color: black;
  mix-blend-mode: screen;
}
.task-text {
  text-align: center;
}
.task h1 {
  font-size: 8vh;
  align-self: flex-start;
}
.icon {
  width: 50%;
}
.icon > .svg {
  max-width: 100%;
}
.svg path {
  fill: #000;
}
.task p {
  font-size: 2vh;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 10px 0;
}
/* BUTTONS */
.button-box {
  width: 50%;
}
div.button {
  width: 100%;
  min-width: 100px;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255,255,255,0.8);
  background: rgba(0,0,0,0.8);
  mix-blend-mode: luminosity;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out 0s;
  outline: 2px solid white;
  outline-offset: -5px;
}
div.button:hover {
  /* background: white; */
  letter-spacing: 2px;
  text-shadow: 0 0 5px white;
  box-shadow: 0 0 5px white;
  outline-offset: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

/* FOOTER */
.footer {
  overflow: hidden;
  width: 100vw;
  background-image: linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,0.8));
  color: rgba(255,255,255,0.5);
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  letter-spacing: 1px;
  align-items: center;
  margin-top: 2vh;
}
.footer a {
  transition: all 0.3s ease-in-out 0s;
}
.footer a:hover {
  color: white;
}
.footer div {
  width: 100%;justify-content: space-evenly;
}
.fa {
  padding: 0 2vh 5px;
  text-align: center;
  text-decoration: none;
}
